<?php
/**
 * BGate Project 
 * 
 * @copyright Copyright (c) ISLab 
 * @year 2015 
 *  */

/**
 * Delivery Configuration Override
 */

return array(

		'delivery' => array(
				'url' => "http://server.nginad.com/delivery/impress",
				'adtag' => "http://server.nginad.com/ad/nginad.js",
				'in_house_ad_grep' => "server.nginad.com/delivery",
                'cache_file_location' => "cache/delivery/"
		),
);
